.react-accordion-comp {
    $default-duration: 0.3s;
    $default-timing-function: ease;

    @mixin transition {
        transition: height var(--transition-duration, $default-duration);
        transition-timing-function: var(--timing-function, $default-timing-function);
    }

    &.closing {
        height: 0;
        overflow: hidden;
        @include transition;
    }

    &.opening {
        overflow: hidden;
        @include transition;
    }

    &.close {
        display: none;
    }

    &.open {
        display: block;
    }
}
