.react-accordion-comp {
    &.closing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    &.opening {
        position: relative;
        display: block;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    &.close {
        display: none;
    }

    &.open {
        // display: block;
    }
}
